go 1.26.1

use (
	./artifactkit
	./contextkit
	./evalkit
	./examples/evalkit-goagent-regression
	./examples/host-api
	./examples/host-runtime
	./goagent
	./hostkit
	./llmkit
	./mcpkit
	./mcpkit/officialsdk
	./ocrs
	./runkit
	./skillkit
	./workflowkit
	./workflowkit/agentstep
	./workflowkit/examples/agent-approval
	./workflowkit/examples/ocr-review
)

replace github.com/eruca/goagents/goagent v0.1.0 => ./goagent

replace github.com/eruca/goagents/hostkit v0.1.0 => ./hostkit

replace github.com/eruca/goagents/artifactkit v0.1.0 => ./artifactkit

replace github.com/eruca/goagents/contextkit v0.1.0 => ./contextkit

replace github.com/eruca/goagents/evalkit v0.1.0 => ./evalkit

replace github.com/eruca/goagents/ocrs v0.1.0 => ./ocrs

replace github.com/eruca/goagents/workflowkit v0.1.0 => ./workflowkit

replace github.com/eruca/goagents/llmkit v0.1.0 => ./llmkit

replace github.com/eruca/goagents/mcpkit v0.1.0 => ./mcpkit

replace github.com/eruca/goagents/runkit v0.1.0 => ./runkit

replace github.com/eruca/goagents/skillkit v0.1.0 => ./skillkit

replace github.com/eruca/goagents/workflowkit/agentstep v0.1.0 => ./workflowkit/agentstep

replace github.com/eruca/goagents/mcpkit/officialsdk v0.1.0 => ./mcpkit/officialsdk
